RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /wsgi.py/$1 [QSA,L]

# Set environment variables
SetEnv FLASK_ENV production
SetEnv SECRET_KEY your-super-secret-key
SetEnv AD_PUBLISHER_ID your-adsense-publisher-id
SetEnv ENABLE_ADS True